<footer class="pinky-footer">
    {{! First Row }}
    <div class="pinky-footer-copyright">
        <i class="fa fa-copyright"></i> {{date format="YYYY"}} {{@blog.title}}
    </div>
    {{! Last Row }}
    <div class="pinky-footer-proud">
        Proudly Published with <a href="https://ghost.org" target="_blank">Ghost</a> and <a href="http://demo.vazue.com/themes/themes-ghost/pinky" target="_blank">Pinky</a>
    </div>
</footer>