{{!< default}}

{{! Index Data for JavaScript }}
<div class="pinky-page-data" data-page-type="loop"></div>

<main id="pinky-content" class="pinky-content" role="main">

    {{! loop.hbs }}
    {{> "loop"}}
    
</main>